body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f8f5f0;
    color: #333;
    background-image: url("E:/prctisehtml/restaurant-interior.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
    letter-spacing: 3px;
    color: #b33939;
    font-weight: bold;
    text-transform: uppercase;
    
}

h4 {
     text-align: center;
    margin-top: -10px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #444;
   font-style: italic;
   letter-spacing: 2px;
}
nav{
    display: flex;
    justify-content: center;
    background: #b33939;
    padding: 12px 0;
    margin-top: 20px;

}

nav li {
    list-style: none;
    margin: 0 20px;

}
nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;

}
nav a:hover{
    color: #ffe4c4;
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}


.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 40px; 
}

.gallery div {
    text-align: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.2)0px 4px 12px;

}

.gallery div:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 20px;
}

.gallery img{
    border-radius: 10px;
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.galery p{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;

}

section {
    width: 60%;
    margin: 50px auto;
    background: white;
    padding: 25PX;
    border-radius: 10px;
    box-shadow: 10px;
}

section h2 {
    color: #b33939;
    font-size: 28px;
    border-bottom: 2px solid #b33939;
    width: fit-content;
    padding-bottom: 5px;
    margin-bottom: 20px;

}
section p {
    font-size: 18px;
    margin: 8px 0;
    
}
